header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-color: grey;
}

.cart-button {
    width: 150px;
    height: 50px;
    margin-right: 50px;
    background-color: lightcoral;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
}
.cart-button:hover {
    background-color: sandybrown;
}
.cart-button:active {
    background-color: lightcoral;
}

.goods-list {
    background-color: lightgrey;
    padding: 15px;
    display: flex;
    width: 100%;

}

.goods-item {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-right: 25px;
    background-color: lightblue;
    border: 2px solid black;
}